*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  transition:all .3s;
  user-select:none;
  text-decoration:none;
}


body{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  overflow:hidden; background:url('https://assets.nflxext.com/ffe/siteui/vlv3/76c10fc9-7ccd-4fbf-bc59-f16a468921ca/4fb4af6e-d0ca-4c7f-b004-b34226727e55/IN-en-20230529-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  background-size:cover;
  position:relative;
}


body:after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.60);
  box-shadow:inset 0 0 20px #000,
             inset 0 0 80px #000;
}


.logo{
  width:120px;
  position:absolute;
  top:10px;
  left:10px;
  filter:drop-shadow(0 0 25px #000);
}


form{
  width:350px;
  background:rgba(0,0,0,.70);
  padding:80px 40px;
  color:#fff;
}


form h3{
  color:#fff;
  text-transform:capitalize;
  font-size:1.8em;
}


form .inputbox{
  margin:25px 0;
  position:relative;
}


form .inputbox .msg{
  font-size:.70em;
  margin-top:5px;
  color:#f00;
}


form .inputbox label{
  position:absolute;
  top:-10px;
  right:8px;
  padding:5px 15px;
  width:auto;
  font-size:.75em;
  user-select:none;
  color:#eee;
  background:#CC0202;
  border-radius:20px;
}


form .inputbox input{
  border:none;
  outline:none;
  padding:15px 15px;
  width:100%;
  font-size:1em;
  user-select:none;
  outline:2px solid #CC0202;
  border-radius:5px;
  background:#111;
  color:#fff;
}


form .inputbox input:focus{
  background:#222;
}




form .submit{
  width:100%;
  border:none;
  outline:none;
  padding:15px 0;
  font-size:1em;
  text-transform:capitalize;
  color:#eee;
  background:#CC0202;
  border-radius:5px;
  cursor:pointer;
}


form .submit:hover{
  background:#222;
  box-shadow:0 0 20px #000;
}



form .helpBox{
  display:flex;
  justify-content:space-between;
  margin-top:25px;
  color:#777;
  font-size:.95em;
}


form .helpBox a{
  color:#777;
}


form .helpBox a:hover{
  text-decoration:underline;
}


form .sign{
  margin:20px 0;
  font-size:1.2em;
  color:#666;
}


form .sign a{
  color:#fff;
}

form .sign a:hover{
  text-decoration:underline;
}


form .msg{
  font-size:.75em;
  color:#555;
}


.fa-youtube-play a:hover{
  color:rgba(255,0,0,.75);
}


#rem{
  accent-color:#CC0202;
}

.titulo {
  font-weight: 800;
   color: #CC0202; /* Cor personalizada */
 }