* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #000000;
    overflow-x: hidden;
}

.navbar {
    backdrop-filter: blur(2px);
    background-color: rgb(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
}

.scrolled {
    background-color: #000;
}

.carousel-inner {
    height: 100vh;
}

.carousel-inner .carousel-item img {
    max-height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    left: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h3 {
    color: #ffffff;
    font-weight: bolder;
    font-size: 32px;
}

@media only screen and (max-width: 500px) {}
    .carousel-caption h3 {
        font-size: 20px;
}

.carousel-caption p {
    color: #ffffff;
}

.rowposter {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowposter a {
    cursor: inherit;
}

.rowimg {
    margin-right: 10px;
    border-radius: 20px;
    box-sizing: content-box;
    transition: transform 450ms;
    max-height: 300px;
    object-fit: contain;
}

.rowimg:hover {
    transform: scale(1.10);
}

.rowposter::-webkit-scrollbar {
    display: none;
}


.Ação {
    color: #000000;
    background-color: rgb(189, 0, 0);
}


.Animação {
    color: #000000;
    background-color: rgb(255, 223, 62);
}


.Aventura {
    color: #000000;
    background-color: rgb(233, 121, 1);
}


.Comédia {
    color: #000000;
    background-color: rgb(255, 223, 62);
}


.Drama {
    color: #000000;
    background-color: rgb(20, 25, 61);
}


.Fantasia {
    color: #000000;
    background-color: rgb(66, 34, 115);
}


.Ficção-Científica {
    color: #000000;
    background-color: rgb(46, 46, 219);
}


.Família {
    color: #000000;
    background-color:rgb(29, 198, 245);
}


.Guerra {
    color: #000000;
    background-color: #222020;
}


.História {
    color: #000000;
    background-color: rgb(5, 20, 69);
}


.Mistério {
    color: #000000;
    background-color: rgb(51, 8, 91);
}


.Musical {
    color: #000000;
    background-color: rgb(139, 0, 97);
}


.Romance {
    color: #000000;
    background-color: rgb(183, 1, 1);
}


.Suspense {
    color: #000000;
    background-color: #000000;
}


.Terror {
    color: #000000;
    background-color: rgb(70, 3, 3);
}


.Western {
    color: #000000;
    background-color: rgb(60, 35, 17);
}