.titulo-animado, .texto-animado, .btn-animado {
    opacity: 0;
    transform: translateX(-100px); /* Inicialmente fora da tela */
}

.texto-alinhado {
    max-width: 700px; /* Igual ao do título */
    text-align: justify; /* Justifica o texto, opcional */
}


.btn-poster {
    background-color: #ff3300;
}

.btn-titulo {
    background-color: #ff4400;
}

.btn-descricao {
    background-color: #ff5500;
}

.btn-genero {
    background-color: #ff6600;
}

.btn-data-de-lancamento {
    background-color: #ff7700;
}

.btn-trailers {
    background-color: #ff8800;
}

.btn-elenco {
    background-color: #ff9900;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
}
